@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap');

body {
    background-color: white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #00337C;
    padding: 35px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #219EBC;
    color: white;
}

.logo {
    width: 80px;
}

.icon {
    padding-top: 10px;
    width: 80px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.home-title {
    color: #8ECAE6;
    font-family: "Libre Baskerville", "Times New Roman", serif;
    font-size: 2em;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #F5DD90;
    ;
}

.book,
.join {
    background-color: #219EBC;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 50px;
    padding: 15px 30px;
    text-decoration: none;
}

.book:hover,
.join:hover {
    background-color: #F5DD90;
    color: #00337C;
}

.river-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.river-card {
    grid-column: 2/4;
    grid-row: 2/3
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3
}

.card-img,
.mountains {
    width: 100%;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img {
    border: 10px solid #219EBC;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg {
    background-color: #8ECAE6;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #00337C;
    font-family: "Libre Baskerville", "Times New Roman", serif;
}

.msg p {
    color: #00337C;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #219EBC;
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #00337C;
    text-decoration: none;
}

footer p {
    color: #00337C;
    font-size: 1.2em;
}

footer p a:hover {
    color: white;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/* Extra style rules that does not included in the assignment */

#background {
    margin: 50px 0;
}

.mountains {
    margin: 50px 0;
}

.msg {
    margin: 100px 0;
}

/* Responsive design */

@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .river-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}