body {
    background-color: #EFA3C8;
}

main {
    width: 40%;
    margin: 0 auto;
}

main img {
    display: block;
    width: 40%;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
}

ol {
    line-height: 1.5em;
    font-weight: bold;
}

.subtitle {
    color: white;
    text-align: center;
}

.quote {
    color: white;
    text-align: center;
    font-size: 2em;
    width: 65%;
    margin: 30px auto;
}

.footer {
    text-align: center;
    margin:0;
}

